.content-in{
    .main{
        padding: 20px 1.3% ;
        @include mq(m){
            padding: 16px;
        }
    }
}
.header{
    background-position: center;
    background-size: contain;
    .site-logo-image{
        width: 55%;
        @include mq(m){
            width: 40%;
        }
    }
}

// .item-label{
//     &:nth-last-child{
//         border-right: solid 5px #f3eee9;
//     }
// }

.caption-wrap{
    .item-label{
        text-align: center;
    }
}

.navi-in{
    .has-icon{
        right: 15px;
        font-size: 20px;
        font-weight: bold;
    }
}
.entry-card-content{
    margin-left: 0;
    .entry-card-title{
        margin-left: 0;
        left: 0;
        @include mq(sm){
            font-size: 16px;
        }
    }
}
.ect-entry-card{
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    @include mq(sm){
        margin-right: 0;
        display: block;
    }
    .entry-card-wrap{
        width:calc((100% - 60px)/2);
        margin-right: 30px;
        padding: 15px;
        @include mq(sm){
            width:  100%;
            margin-right: 0;
        }
        .entry-card-thumb{
            width: 100%;
        }
        .entry-card-thumb{
            position: static;
        }
    }
}

.eye-catch{
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    .eye-catch-image{
        content: "";
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.navi-entry-cards{
    padding: 0 1.5%;
    @include mq(m){
        padding: 0 ;
    }
    box-sizing: content-box;
    .navi-entry-card-link{
        box-shadow: 3px 1px 7px 0 rgba(0,0,0,0.13);
        transition: all 0.3s ease-in-out;
        padding: 2% 3.5% 2.4%;
        margin-bottom: 5px;
        border-radius: 4px;
        @include mq(mo){
            padding: 0 16px;
        }
        @include mq(mo){
            &:last-child{
                margin-right: 0 !important;
            }
            &:first-child{
                margin-left: 0 !important;
            }
        }

        &:hover{
            background-color: #fcf8f5;
            box-shadow: none;
            transform: translateY(2px);
            
        }
        .navi-entry-card-thumb{
            border-radius: 4px;
            img{
                border: none;
                border-radius: 4px;
            }
        }
        .navi-entry-card-content{
            border-radius: 4px;
            .navi-entry-card-title{
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
}
.related-list{
    justify-content: start !important;
    margin-right: -10px;
    .related-entry-card-wrap{
        box-sizing: border-box;
        width: calc((100% - 30px)/3);
        margin-right: 10px;
        box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.13);
        border-radius: 4px;
        transition: all 0.3s ease-in-out;
        padding: 2% 3.5% 2.4%;
        margin-bottom: 10px;
        padding: 5px;
        &:hover{
            background-color: #fcf8f5;
            box-shadow: none;
            transform: translateY(2px);
            
        }
    }
}
.pager-post-navi{
    margin-right: -10px;
    a{
        box-sizing: border-box;
        box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.13);
        border-radius: 4px;
        transition: all 0.3s ease-in-out;
        padding: 2% 3.5% 2.4%;
        margin-right: 10px;
        &:hover{
            background-color: rgb(252, 248, 245);
            box-shadow: none;
            transform: translateY(2px);
        }
    }
}
// .cat-label{
//     padding: 3px 10px;
//     background-color: rgba(252, 248, 245, .7);
//     color: #333;
// }
.prev-post-title,.next-post-title {
    font-weight: bold;
}
.comment-form{
    .comment-btn{
        border: none;
        box-sizing: border-box;
        box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.13);
        border-radius: 4px;
        transition: all 0.3s ease-in-out;
        &:hover{
            background-color: rgb(252, 248, 245);
            box-shadow: none;
            transform: translateY(2px);
        }
    }
}
.entry-content{
    .toc{
        border: none;
        box-sizing: border-box;
        box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.13);
        border-radius: 4px;
        transition: all 0.3s ease-in-out;
        
    }
}